.jc-CommentList {
    &-count {
        display: inline-block;
        margin-bottom: 1rem;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-item {
        & + .jc-CommentList-item {
            margin-top: 2rem;
        }
    }
}

