@import "../../shared.scss";

.jc-CommentBox {

    &-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-bottom: 30px;

        @include for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    input, textarea {
        border: 2px solid var(--jc-gray);
        border-radius: var(--border-radius);
    }

    &-textarea,
    &-buttonWrapper {
        grid-column: 1 / -1;
    }

    &-buttonWrapper {
        margin-top: 1.5rem;
    }

    &-label {
        display: flex;
        flex-direction: column;

        input, textarea {
            margin-top: 3px;
        }
    }
}
