.box {
    display: flex;
    flex-direction: column;
}

.box input, .box textarea {
    border: 3px solid var(--input-border);
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
