@import "../../shared.scss";

.jc-CommentBox {

    &-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-bottom: 30px;

        @include for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    input, textarea {
        border: 2px solid var(--jc-gray);
        border-radius: var(--border-radius);
        padding: 8px;
    }

    textarea {
        padding: 15px;
    }

    &-textarea,
    &-buttonWrapper {
        grid-column: 1 / -1;
    }

    &-label {
        display: flex;
        flex-direction: column;

        input, textarea {
            margin-top: 3px;
        }
    }

    &-button {
        border-radius: var(--border-radius);
        border: 2px solid var(--jc-gray);
        background: var(--jc-gray);
        padding: .25rem 1rem;
        margin-top: .5rem;
        cursor: pointer;
        
        &:hover {
            border-color: var(--jc-gray-dark);
        }
    }
}
